body {
  /*font-family: Arial , sans-serif;*/
  font-family: "Roboto", serif;
  line-height: 1.6;
  color: #333;
  background-image: url('Images/TestBackground.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
}

.header {
  background-color: #333;
  color: #fff;
  position: absolute;
  overflow: hidden;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 20%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode:overlay;
  background-color: 1 rgba(68, 68, 68, 1);

  animation-name: BannerSlider;
  animation-direction: alternate-reverse;
  animation-play-state: running;
  animation-timing-function: linear;
  animation-duration: 120s;
  animation-iteration-count: infinite;
}
@keyframes BannerSlider{
  0%{
    background-image: url('Images/Welcome Banner/BannerPhoto1.jpg');
  }
  16.7%{
    background-image: url('Images/Welcome Banner/BannerPhoto2.jpg');
  }
  33.4%{
    background-image: url('Images/Welcome Banner/BannerPhoto3.jpg');
  }
  50.1%{
    background-image: url('Images/Welcome Banner/BannerPhoto4.jpg');
  }
  66.8%{
    background-image: url('Images/Welcome Banner/BannerPhoto5.jpg');
  }
  83.5%{
    background-image: url('Images/Welcome Banner/BannerPhoto6.jpg');
  }
  100%{
    background-image: url('Images/Welcome Banner/BannerPhoto7.jpg');
  }
  
}

.navbar {
  display: flex;
  justify-content:space-between;
  align-items: center;
  height: 50px;
  padding-top: 5%;
  padding-bottom: 5%;
}

.CompanyLogo {
  height: auto; /* Maintain aspect ratio */
  width: 100%; /* Adjust the width as needed */
  
}

.bar {
  width: 100%;
  height: 4px;
  background-color: #fff;
  transition: transform 0.3s;
}

.hamburger-btn {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 25px;
  transition-duration: .5s;
  z-index: 2;
}

/* Hamburger button animation - Rotating bars */
.hamburger-btn.active .bar:nth-child(1) {
  transform: translateY(9px) rotate(-45deg);
}

.hamburger-btn.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger-btn.active .bar:nth-child(3) {
  transform: translateY(-9px) rotate(45deg);
}

.nav-container{
  display: inline-flex;
  justify-content:space-between;
  align-items: center;
  position: absolute;
  right: 0%;
  padding-right: 20px;
  top: 3%;
  transform: translateX(80%);
  transition-duration: .5s;
}

.menu-container {
  display: inline-flex;
  transition-duration: .5s;
  opacity: 0;
}

.nav-links {
  padding-left: 5px;
}

.nav-links li {
  display: inline-flex;
  margin-top: 10px;
  margin-left: 20px;
  user-select: none;
  -webkit-user-select: none; /* For Safari and older versions of Chrome */
  -moz-user-select: none; /* For Firefox */
  -ms-user-select: none; /* For Internet Explorer/Edge */
  transition: transform 0.3s; /* Add a transition for the transform property */
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #ccc;
  transform: scale(1.1); /* Enlarge the link on hover */
}