body {
  /*font-family: Arial , sans-serif;*/
  font-family: "Roboto", serif;
  line-height: 1.6;
  color: #333;
  background-image: url('Images/TestBackground.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
}

.header {
  background-color: #333;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
  height: 80%;
  overflow: hidden;
  transition-duration: .7s;
  transition: height 0.7s ease;
  /* Add the smooth transition class to the header */
  transition: all 0.3s ease; /* Add this line */
}

.banner-img {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  
  object-fit: cover;
  transition: opacity 1s ease-in-out;
  
}

.banner-img:first-child {
  opacity: 1;
}

.OpacityGray{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #333;
  z-index: 2;
  opacity: 80%;
}

.content {
  position: relative;
  z-index: 3;
  padding: 20px;
  padding-top: 0px;
  color: #fff; /* Set your desired text color */
  height: 80vh;
}

.navbar {
  display: flex;
  justify-content:space-between;
  align-items: center;
  height: 50px;
}

.nav-container{
  display: inline-flex;
  justify-content:space-between;
  align-items: center;
  padding-top: 90px;
}

.menu-container {
  display: inline-flex;
  transform: translateX(100%);
  transition-duration: .5s;
  opacity: 0;
  margin-top: -20%;
}

.logo {
  position: relative;

  transition: transform 0.2s, cursor 0.2s;
}

.CompanyLogo {
  width: 600px !important; /* Set your initial width here */
  height: auto; /* Maintain aspect ratio */
  padding-top: 20%;
  transition: .5s;
}

.hamburger-btn {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 25px;
  transform: translateX(0%);
  transition-duration: .5s;
  margin-top: -20%;
}

.bar {
  width: 100%;
  height: 4px;
  background-color: #fff;
  transition: transform 0.3s;
}

/* Hamburger button animation - Rotating bars */
.hamburger-btn.active .bar:nth-child(1) {
  transform: translateY(9px) rotate(-45deg);
}

.hamburger-btn.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger-btn.active .bar:nth-child(3) {
  transform: translateY(-9px) rotate(45deg);
}